<h1>Create a new Homeowner Account</h1>
<% if @verify_password == false %>
   <h1>ERROR! Passwords must match!</h1>
<% end %>

<body background="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEX52V7BRncgAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII="

</body>
<%= form_for @homeowner do |f| %>
  <br>
  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <br><br>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <br><br>
  <%= f.label :street_name %>
  <%= f.text_field :street_name %>

  <%= f.label :city %>
  <%= f.text_field :city %>

  <%= f.label :state %>
  <%= f.text_field :state %>

  <%= f.label :zipcode %>
  <%= f.number_field :zipcode %>
  <br><br>
  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.submit %>
<% end %>
