<h1>Homeowner Page</h1>

<h2>Name: </h2>
  <%= @homeowner.first_name %>
  <%= @homeowner.last_name %>

<h4>Address:</h4>
  <%= @homeowner.street_name %>,
  <%= @homeowner.city %>,
  <%= @homeowner.state %>,
  <%= @homeowner.zipcode %>

<h4>Email</h4>
  <%= @homeowner.email %>

  <%= button_to "Logout", '/logout', method: :post %>
