<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Service Provider Home Page</title>
    <link rel="stylesheet"
      href="localhost:3000/service_providers/:id">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
  </head>
  <body>
    <div class="header text-center" style="margin-bottom:0">
    </div>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#">Explore</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/service_providers">Service Providers</a>
          </li>

          <% if session[:user_id] == @service_provider.id && session[:homeowner_active] == FALSE %>
          <li class="nav-item">
            <a class="nav-link" href="/service_providers/:id/edit">Update Profile</a>
          </li>
          <% else %>

          <% end %>
          <% # A third option exists here. session[:homeowner_active] can be set to NIL %>
          <% # which means nobody is logged in %>
          <% if session[:homeowner_active] == FALSE || session[:homeowner_active] == TRUE %>
          <li class="nav-item">
              <%= link_to "Logout", '/logout', method: :post, class: "nav-link" %>
          </li>

          <% else %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container" style="margin-top:30px">
      <div class="row">
        <div class="col-sm-4">
          <div class="fakeimg">Fake Image
          </div>
        </div>
        <div class="col-sm-8">
          <h1><%= @service_provider.name %></h1>
          <h4><p><%= @service_provider.street_name %>, <%= @service_provider.city %>,
            <%= @service_provider.state %> <%= @service_provider.zipcode %></p>
            <p><%= @service_provider.years_in_service %> Years of Experience |
            Average Customer Rating: <%= @service_provider.average_rating %></p>
          </h4>
        </div>
        <div class="col-sm-8">
          <h3>Services Offered</h3>
          <h4><p><% @service_provider.services.each do |service| %>
            <%= service.name %>
              <% if service != @service_provider.services.last %>
                <%= " | "%>
              <% end %>
            <% end %></p>
          </h4>
        </div>
      </div>
    </div>
    <div class="container" style="max-width">
      <div class="container text-center" style="margin-top:30px">
        <h2>Completed Projects</h2>
        <% @postings.each do |posting| %>
          <div class="card mb-3" style="">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="<%= posting.after_image_url %>" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%= posting.title %></h5>
                  <p class="card-text"><%= posting.description %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <div class="container text-left" style="margin-top:30px">
          <h2>Appointments</h2>
          <div class="book-appointment">
            <% # A third option exists here. session[:homeowner_active] can be set to NIL %>
            <% # which means nobody is logged in %>
            <% if session[:homeowner_active] == TRUE || session[:homeowner_active] == FALSE %>
            <%= link_to 'Book Appointment', new_appointment_path(@service_provider) %>
            <% end %>
          </div>
          <div>

            <% if @appointments %>
              <% @appointments.each do |appointment| %>
                <p><%= link_to appointment.description, appointment_path(appointment) %></p>
              <% end %>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
