<h1>Appointments Index Page</h1>

<ul>
  <% @appointments.each do |appointment| %>
  <li>
    <% byebug %>
    Date: <%= appointment.date %> <br>
    Time: <%= appointment.time %> <br>
    Description: <%= appointment.description %> <br>
    Homeowner: <%= Homeowner.find(appointment.homeowner_id).first_name %>
    <%= Homeowner.find(appointment.homeowner_id).last_name %> <br>
    Service Provider: <%= ServiceProvider.find(appointment.service_provider_id).name %>
  </li>
  <% end %>
</ul>
