<h1>New Appointment</h1>
<body background="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEX52V7BRncgAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII="
</body>
<%= form_for @appointment do |f| %>
  <%= f.label :date %>
  <%= f.date_field :date %>

  <%= f.label :time %>
  <%= f.time_field :time %>

  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.collection_select :service_id, @services, :id, :name %>

  <%= f.hidden_field :homeowner_id, value: session[:user_id] %>
  <%= f.hidden_field :service_provider_id, value: params["format"].to_i %>
  <%= f.submit %>
  <% end %>
